/** footer **/
footer {
  background-color: #becece;
  position: relative;
  display: block;
  font-family: 'Amatic SC', cursive;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
}

.footer {
  margin-top: 30px;
}

.copyright {
  font-size: 25px;
}

.footer-links {
  display: flex;
  justify-content: center;

  li {
    list-style-type: none;

    &:not(:last-child) {
      border-right: 1px solid $secondary;
    }

    a {
      padding: 5px;
      text-decoration: none;
      color: black;
      font-family: 'Amatic SC', cursive;
      font-size: 25px;
    }
  }
}
