header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #becece;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
}
/* logo + "Besocial" */
.titre{
  display: flex;
  align-items: center;
  font-family: 'Amatic SC', cursive;
}

.logo{
  position: relative;
  height: 75px;
  width: 75px;
}


.navbar{
  text-align: right;
  flex:1;
  text-decoration: none;
}

.recherche{
  padding-left: 18px;
  display: inline;
}

.ok{
  background-color: #153c49;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}


.header-links {
  display: flex;
  justify-content: center;

  a {
    list-style-type: none;

    &:not(:last-child) {
      border-right: 1px solid $secondary;



      padding: 5px;
      text-decoration: none;
      color: black;
      font-family: 'Amatic SC', cursive;
      font-size: 25px;
    }
  }
}
